.Contatos{
    padding-top: 100px;
    text-align: center;
    margin: auto;
    width: 100%;
}

.icones_redes_sociais{
    margin: 20px;
    padding: 10px;
}


.icones_redes_sociais a{
    color: white;
    padding: 20px;
    font-size: 40px;
    margin: 10px;
}

.icones_redes_sociais a:hover{
    color: rgb(9, 255, 0);
}


.icones_redes_sociais a:nth-child(1):hover{
    color: rgb(195, 0, 255);
}


@media (max-width: 400px){
    .Contatos h1{
        font-size: 20px;
        
    }

    .icones_redes_sociais a{
        font-size: 24px;
    }
}